@import url('https://fonts.googleapis.com/css?family=Roboto');
@font-face {
    font-family: mickey;
    src: url("assets/MICKEY.ttf");
}
	

.linkbtn {
    background-color: #607D8B;
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    transition: all .5s;
    box-shadow: inset 0px 0px 0 0px blue;
}
.linkbtn:hover{
	padding: 10px 10px 10px 10px;
	box-shadow: inset 0px -50px 0 0px blue;
}

.linkcurrent {
    padding: 10px 10px 10px 10px;
    box-shadow: inset 0px -50px 0 0px blue;
}

.dumdumlol{
	top: 40%;
	left: 20%;
	position:fixed;
}

.dumdumlol:hover{
	top: 9%;
	left: 50%;
	}

.item {
    transition: all .5s;
    animation: itemAnim .5s;
    animation-timing-function: ease-out;
}

.detailsItem {
    animation: detailsItemAnim .5s;
    animation-timing-function: ease-out;
}

.navbar{
	background-color: #26441a;
	padding: 20px;
}

*{
	font-family: 'Roboto', sans-serif;	
}

body{
	margin: 0px;
}

.pageContent{
	margin: 8px;
}

details{
	cursor: pointer;
}

@keyframes itemAnim {
    from {
        opacity: 0;
        transform: translate(0, 10px);
    }
}


@keyframes detailsItemAnim {
    from {
        opacity: 0;
        transform: translate(0, -10px);
    }
}